body{
    background-color: #eff1f4;
}

#entete {
    margin-bottom: 20px;
}

#changeUserForm{
    float: right;
}

#titre{
    color: cadetblue;
    font-weight: bold;
    font-size: 30px;
}

#logo {
    height: 35px !important;
}

#corps {
    height: 500px !important;
}
