#entete {
    margin-bottom: 20px;
}

#changeUserForm{
    float: right;
}

#titre{
    color: cadetblue;
}

#logo {
    height: 30px !important;
}

#navMenu {
    height: 300px;
}

#content {
    height:300px;
}