body{
    background-color: #eff1f4;
}

#entete {
    margin-bottom: 20px;
}

#changeUserButton {
    float: right;
}

#commandeView {
    float: right;
}

#titre {
    color: cadetblue;
    font-weight: bold;
    font-size: 30px;
}

#logo {
    height: 35px !important;
}

#corps {
    height: 600px !important;
}

#form\:selectedMotifContainer {
    z-index: 99999;
    border: none;
    background: transparent;
}

#form\:selectedMotifRestrictContainer {
    position: absolute;
    top: 145px;
    left: 187px;
    width: 190px;
    height: 260px;
    z-index: 99999;
    border: 1px solid #666666;
}

#form\:selectedMotif {
    width: 150px;
    height: 110px;
}

#progressBar {
    height: 120px !important;
    background: rgba(0,0,0,0.0);
    border: none;
}

#content{
    height: 500px;
    background: rgba(0,0,0,0.0);
    border: none;
}

.ui-layout-unit-content{
    height: 520px !important;
    background: rgba(0,0,0,0.0);
}

.ui-menuitem-link{
    margin-left: 100px;
    margin-right: 100px;
    color: white !important;
}

.ui-steps-item{
    background-color: #70aae1 !important;
    border-color: white !important;
    border-width: medium !important;
}

#form\:vetementList_content{
    border: none;
    background: rgba(0,0,0,0.0);
}

#form\:persoLabel{
    background: rgba(0,0,0,0.0) !important;
    border: none !important;
    height: 145px !important;
}

#form\:j_idt48{
    border: none !important;
    background: rgba(0,0,0,0.0) !important;
}

#form\:j_idt20{
    padding-top: 0px !important;
    padding-bottom: 45px !important;
}

#form\:choiseColor{
    width: 320px !important;
}

#ulVetement{
    margin: 5px !important;
    padding: 0px !important;
}

#form\:westLayout{
    width: 320px !important;
}

#form\:centerLayout{
    width: 1160px !important;
    height: 577px !important;
    background: rgba(0,0,0,0.0) !important;
    border: none !important;
}

#form\:finalImageVetement{
    padding-top: 35px !important;
    padding-left: 40px !important;
}